@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ODDIE</h1>
    <p>10/12/21 </p>
</div>

<div class="mt-4 text-center">
    <img src="~/images/Oddie.JPG" alt="Foto de Oddie"
         style="border-radius: 50%; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); max-width: 500px; height: auto;" />
</div>

<article class="mt-5" style="text-align: left; max-width: 700px; margin: auto; color: #34495E;">
    <h2 style="color: #4A90E2;">Conoce a mi mascota</h2>
    <p style="font-size: 1.1rem; line-height: 1.7;">
        Oddie es muy juguetón y cariñoso, siempre dispuesto a alegrarme el día. 
        Le encanta pasar el tiempo corriendo por el parque, donde muestra toda su energía y entusiasmo. Su lealtad y afecto son 
        incomparables, y siempre está listo para hacerme compañía, ya sea en los momentos felices o en los días más difíciles.
    </p>
</article>
